@model GameStream.Models.DetailPageDetailsViewModel

<!-- ***** Details Start ***** -->

<div class="game-details">
    <div class="row">
        <div class="col-lg-12">
            <h2> @Model.DetailsPageGameDetail.GameName Details</h2>
        </div>
        <div class="col-lg-12">
            <div class="content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="left-info">
                            <div class="left">
                                <h4>@Model.DetailsPageGameDetail.GameName</h4>
                                <span>@Model.DetailsPageGameDetail.GameType</span>
                            </div>
                            <ul>
                                <li><i class="fa fa-star"></i> @Model.DetailsPageGameDetail.Rate</li>
                                <li><i class="fa fa-download"></i> @Model.DetailsPageGameDetail.DownloadQuantity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-info">
                            <ul>
                                <li><i class="fa fa-star"></i> @Model.DetailsPageGameDetail.Rate</li>
                                <li><i class="fa fa-download"></i> @Model.DetailsPageGameDetail.DownloadQuantity</li>
                                <li><i class="fa fa-server"></i> @Model.DetailsPageGameDetail.DiskSize</li>
                                <li><i class="fa fa-gamepad"></i> @Model.DetailsPageGameDetail.Platform</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Tüm resimleri içeren dış div -->
                        @foreach (var x in Model.DetailsPageGameDetails)
                        {
                            <!-- Her resim için bir col-lg-4 sınıfı kullanarak 3 resmi bir satıra sığdırın -->
                            @foreach (var imageUrl in x.GameImages)
                            {
                                <div class="col-lg-4">
                                    <img src="@imageUrl" style="width: 100%; height: auto; border-radius: 23px; margin-bottom: 30px;">
                                </div>
                            }
                        }
                    </div>


                    <div class="col-lg-12">
                        <p>@Model.DetailsPageGameDetail.Description</p>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-border-button">
                            <a href="#">Download @Model.DetailsPageGameDetail.GameName Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- ***** Details End ***** -->